<!-- MENU -->
<div class="menu">
    <div class="menu-items">
        <div class="menu-item font-family-courier-prime padding-left-5 padding-right-5">
            <a class="btn btn-secondary" routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a>
        </div>
        <div class="menu-item font-family-courier-prime padding-left-5 padding-right-5">
            <a class="btn btn-secondary" routerLink="/employees" routerLinkActive="active" ariaCurrentWhenActive="page">Employees</a>
        </div>
    </div>
</div>
<!-- MENU END -->